/* Box sizing rules */
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list] {
  list-style: none;
}

/* Set core root defaults */
html {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

body {
  color: #252422;
  background: #CCC5B9;
}

main {
  position: absolute;
  top: 80px;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
main section {
  min-height: 100vh;
}
main .box {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  gap: 5%;
}

* {
  font-family: "Poppins", sans-serif;
}

html {
  overflow-x: hidden;
  overflow-y: auto;
}

/* Custom scrollbar */
::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  background: #403D39;
}

::-webkit-scrollbar-thumb {
  border: 4px solid transparent;
  border-radius: 100px;
  background-color: #EB5E28;
  background-clip: content-box;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #e44f15;
}

.btn-system {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 10px;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 5px;
  border: none;
  color: #FFFCF2;
  background: #EB5E28;
  transition: all 0.3s ease-in-out;
}
.btn-system:hover {
  transform: scale(1.1);
  /* Add shadow */
  box-shadow: 0 0 10px 0 #EB5E28;
  /* Change color and background color */
  color: #EB5E28;
  background: #FFFCF2;
}
.btn-system:active {
  box-shadow: none;
  transform: scale(0.9);
  transition: 0.1s ease-in-out;
}

header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  padding: 20px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 10;
  background: #FFFCF2;
  box-shadow: 0 15px 15px rgba(0, 0, 0, 0.05);
}
header .logo {
  text-decoration: none;
  font-size: 1.5em;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  color: #403D39;
}
header .nav-group {
  display: flex;
  align-items: center;
}
header .nav-group .nav-item {
  position: relative;
}
header .nav-group .nav-item.nav-list {
  display: flex;
  gap: 30px;
}
header .nav-group .nav-item.nav-list .nav-link {
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1em;
  letter-spacing: 0.2em;
  color: #403D39;
}
header .nav-group .nav-item.nav-list .nav-link::before {
  content: "";
  position: absolute;
  bottom: -2px;
  width: 100%;
  height: 2px;
  background: #403D39;
  transform: scaleX(0);
  transition: transform 0.5s ease-in-out;
  transform-origin: right;
}
header .nav-group .nav-item.nav-list .nav-link:hover::before {
  transform: scaleX(1);
  transform-origin: left;
}
header .nav-group .nav-item.search {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  cursor: pointer;
  font-size: 1.5em;
}
header .nav-group .nav-item.search .btn {
  position: relative;
  top: 2.5px;
}
header .nav-group .nav-item.search .search-btn {
  left: 30px;
  z-index: 1;
  transition: 0.3s ease-in-out;
}
header .nav-group .nav-item.search .search-btn.active {
  left: 0;
}
header .nav-group .nav-item.search .close-btn {
  opacity: 0;
  visibility: hidden;
  scale: 0;
  transition: 0.5s;
}
header .nav-group .nav-item.search .close-btn.active {
  opacity: 1;
  visibility: visible;
  scale: 1;
  transition: 0.5s;
}
header .nav-group .menu-toggle {
  position: relative;
  margin-bottom: 2.5px;
  display: none;
  z-index: 0;
}
header .nav-group .menu-toggle.hidden {
  display: none;
}
header .search-box {
  position: absolute;
  right: -100%;
  width: 100%;
  height: 100%;
  padding: 0 30px;
  display: flex;
  align-items: center;
  background: #FFFCF2;
  transition: 0.5s ease-in-out;
}
header .search-box.active {
  right: 0;
}
header .search-box input {
  width: 100%;
  height: 50px;
  border: none;
  outline: none;
  font-size: 1.25em;
  color: #403D39;
  background: #FFFCF2;
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}

.box .card {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: all 0.5s ease-in-out;
  border-radius: 10px;
}

.card__title {
  font-size: 1.5em;
  font-weight: 700;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #EB5E28;
}

.card__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 10px;
}

.box .glass-card {
  position: relative;
  width: 320px;
  height: 400px;
  margin: 40px 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.5s ease-in-out;
}
.box .glass-card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 50px;
  width: 50%;
  height: 100%;
  text-decoration: none;
  background: #FFFCF2;
  border-radius: 10px;
  transform: skewX(15deg);
  transition: all 0.5s ease-in-out;
}
.box .glass-card::after {
  content: "";
  position: absolute;
  top: 0;
  left: 50;
  width: 50%;
  height: 100%;
  text-decoration: none;
  background: #FFFCF2;
  border-radius: 10px;
  filter: blur(30px);
  transform: skewX(15deg);
  transition: all 0.5s ease-in-out;
}
.box .glass-card:nth-child(1)::before, .box .glass-card:nth-child(1)::after {
  background: linear-gradient(315deg, #41e314, #b641c3);
}
.box .glass-card:nth-child(2)::before, .box .glass-card:nth-child(2)::after {
  background: linear-gradient(315deg, #03a9f4, #ff0058);
}
.box .glass-card:nth-child(3)::before, .box .glass-card:nth-child(3)::after {
  background: linear-gradient(315deg, #4dff03, #00d0ff);
}
.box .glass-card span {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: block;
  z-index: 5;
  pointer-events: none;
}
.box .glass-card span::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
  opacity: 0;
  transition: 0.1s;
  -webkit-animation: animate 2s ease-in-out infinite;
          animation: animate 2s ease-in-out infinite;
}
.box .glass-card span::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
  opacity: 0;
  transition: 0.5s;
  -webkit-animation: animate 2s ease-in-out infinite;
          animation: animate 2s ease-in-out infinite;
  -webkit-animation-delay: -1s;
          animation-delay: -1s;
}
.box .glass-card .card__content {
  position: relative;
  left: 0;
  padding: 20px 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.05);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  z-index: 1;
  color: #252422;
  transition: all 0.5s ease-in-out;
}

.box .glass-card:hover::before, .box .glass-card:hover::after {
  transform: skewX(0deg);
  left: 20px;
  width: calc(100% - 80px);
}
.box .glass-card:hover span::before {
  top: -50px;
  left: 50px;
  width: 100px;
  height: 100px;
  opacity: 1;
}
.box .glass-card:hover span::after {
  bottom: -50px;
  right: 50px;
  width: 100px;
  height: 100px;
  opacity: 1;
}
.box .glass-card:hover .card__content {
  left: -25px;
  height: calc(100% - 50px);
}

@-webkit-keyframes animate {
  0% {
    transform: translateY(10px);
  }
  50% {
    transform: translate(-10px);
  }
  100% {
    transform: translateY(10px);
  }
}

@keyframes animate {
  0% {
    transform: translateY(10px);
  }
  50% {
    transform: translate(-10px);
  }
  100% {
    transform: translateY(10px);
  }
}
.business-cards-box {
  justify-content: space-evenly !important;
}

.card.business-card {
  flex-direction: row;
  align-items: flex-start;
  gap: 20px;
  width: 400px;
  padding: 20px;
  background: #FFFCF2;
}
.card.business-card .card__img {
  position: relative;
  width: 150px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.card.business-card .card__img img {
  border-radius: inherit;
}
.card.business-card .card__content {
  position: relative;
  width: calc(100% - 150px - 20px);
  align-items: flex-start;
  text-align: left;
}
.card.business-card::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 0;
  height: 0;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
  opacity: 0;
  transition: 0.1s;
  -webkit-animation: animate 1s ease-in-out infinite;
          animation: animate 1s ease-in-out infinite;
}
.card.business-card::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
  opacity: 0;
  transition: 0.5s;
  -webkit-animation: animate 1s ease-in-out infinite;
          animation: animate 1s ease-in-out infinite;
  -webkit-animation-delay: -1s;
          animation-delay: -1s;
}
.card.business-card:hover {
  transform: scale(1.1);
}
.card.business-card:hover::before {
  top: -50px;
  right: 50px;
  width: 100px;
  height: 100px;
  opacity: 1;
  z-index: 10;
}
.card.business-card:hover::after {
  bottom: -50px;
  left: 50px;
  width: 100px;
  height: 100px;
  opacity: 1;
  z-index: 10;
}
.card.business-card:nth-child(1):hover .card__img {
  -webkit-animation: card-1 1s linear;
          animation: card-1 1s linear;
}
.card.business-card:nth-child(1):hover .card__content {
  -webkit-animation: card-1 0.75s linear;
          animation: card-1 0.75s linear;
}
.card.business-card:nth-child(2):hover .card__img, .card.business-card:nth-child(2):hover .card__content {
  -webkit-animation: card-2 1s linear;
          animation: card-2 1s linear;
}
.card.business-card:nth-child(3):hover .card__img {
  -webkit-animation: card-3 0.75s linear;
          animation: card-3 0.75s linear;
}
.card.business-card:nth-child(3):hover .card__content {
  -webkit-animation: card-3 1s linear;
          animation: card-3 1s linear;
}

@-webkit-keyframes card-1 {
  0% {
    left: 0;
    scale: 1;
  }
  50% {
    left: -100%;
    scale: 0;
  }
  100% {
    left: 0;
    scale: 1;
  }
}

@keyframes card-1 {
  0% {
    left: 0;
    scale: 1;
  }
  50% {
    left: -100%;
    scale: 0;
  }
  100% {
    left: 0;
    scale: 1;
  }
}
@-webkit-keyframes card-2 {
  0% {
    scale: 1;
  }
  50% {
    scale: 0;
  }
  100% {
    scale: 1;
  }
}
@keyframes card-2 {
  0% {
    scale: 1;
  }
  50% {
    scale: 0;
  }
  100% {
    scale: 1;
  }
}
@-webkit-keyframes card-3 {
  0% {
    right: 0;
    scale: 1;
  }
  50% {
    right: -100%;
    scale: 0;
  }
  100% {
    right: 0;
    scale: 1;
  }
}
@keyframes card-3 {
  0% {
    right: 0;
    scale: 1;
  }
  50% {
    right: -100%;
    scale: 0;
  }
  100% {
    right: 0;
    scale: 1;
  }
}
@keyframes animate {
  0% {
    transform: translateY(10px);
  }
  50% {
    transform: translate(-10px);
  }
  100% {
    transform: translateY(10px);
  }
}
.social-cards-box {
  justify-content: space-evenly !important;
}
.social-cards-box .btn-git {
  position: relative;
  width: 50px;
  height: 50px;
  padding: 15px;
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
  border-radius: 50%;
  font-size: 25px;
  background: #FFFCF2;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.25s ease-in-out;
}
.social-cards-box .btn-git .icon {
  display: flex;
  justify-content: center;
}
.social-cards-box .btn-git::before, .social-cards-box .btn-git::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  transition: all 0.25s ease-in-out;
}
.social-cards-box .btn-git::before {
  border-radius: 0;
  margin-top: -100%;
  box-shadow: inset 0 0 0 50px #EB5E28;
}
.social-cards-box .btn-git:hover {
  transform: scale(1.1);
}
.social-cards-box .btn-git:hover::before {
  margin-top: 0;
}

.fancy-btn-box .wrapper {
  position: relative;
  display: grid;
  grid-template-columns: repeat(30, 1fr);
  grid-template-rows: repeat(10, 1fr);
  width: 210px;
  height: 70px;
  border-radius: 5px;
  font: 700 24px sans-serif;
  color: #fff;
  background: #EB5E28;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07), 0 2px 4px rgba(0, 0, 0, 0.07), 0 4px 8px rgba(0, 0, 0, 0.07), 0 8px 16px rgba(0, 0, 0, 0.07), 0 16px 32px rgba(0, 0, 0, 0.07), 0 32px 64px rgba(0, 0, 0, 0.07);
}
.fancy-btn-box .wrapper i {
  width: 7px;
  height: 7px;
}
.fancy-btn-box .wrapper i:nth-child(n+1):nth-child(-n+30):hover ~ .fancy-btn {
  --y: 10%;
}
.fancy-btn-box .wrapper i:nth-child(n+31):nth-child(-n+60):hover ~ .fancy-btn {
  --y: 20%;
}
.fancy-btn-box .wrapper i:nth-child(n+61):nth-child(-n+90):hover ~ .fancy-btn {
  --y: 30%;
}
.fancy-btn-box .wrapper i:nth-child(n+91):nth-child(-n+120):hover ~ .fancy-btn {
  --y: 40%;
}
.fancy-btn-box .wrapper i:nth-child(n+121):nth-child(-n+150):hover ~ .fancy-btn {
  --y: 50%;
}
.fancy-btn-box .wrapper i:nth-child(n+151):nth-child(-n+180):hover ~ .fancy-btn {
  --y: 60%;
}
.fancy-btn-box .wrapper i:nth-child(n+181):nth-child(-n+210):hover ~ .fancy-btn {
  --y: 70%;
}
.fancy-btn-box .wrapper i:nth-child(n+211):nth-child(-n+240):hover ~ .fancy-btn {
  --y: 80%;
}
.fancy-btn-box .wrapper i:nth-child(n+241):nth-child(-n+270):hover ~ .fancy-btn {
  --y: 90%;
}
.fancy-btn-box .wrapper i:nth-child(n+271):nth-child(-n+300):hover ~ .fancy-btn {
  --y: 100%;
}
.fancy-btn-box .wrapper i:nth-child(30n+1):hover ~ .fancy-btn {
  --x: 3.3333333333%;
}
.fancy-btn-box .wrapper i:nth-child(30n+2):hover ~ .fancy-btn {
  --x: 6.6666666667%;
}
.fancy-btn-box .wrapper i:nth-child(30n+3):hover ~ .fancy-btn {
  --x: 10%;
}
.fancy-btn-box .wrapper i:nth-child(30n+4):hover ~ .fancy-btn {
  --x: 13.3333333333%;
}
.fancy-btn-box .wrapper i:nth-child(30n+5):hover ~ .fancy-btn {
  --x: 16.6666666667%;
}
.fancy-btn-box .wrapper i:nth-child(30n+6):hover ~ .fancy-btn {
  --x: 20%;
}
.fancy-btn-box .wrapper i:nth-child(30n+7):hover ~ .fancy-btn {
  --x: 23.3333333333%;
}
.fancy-btn-box .wrapper i:nth-child(30n+8):hover ~ .fancy-btn {
  --x: 26.6666666667%;
}
.fancy-btn-box .wrapper i:nth-child(30n+9):hover ~ .fancy-btn {
  --x: 30%;
}
.fancy-btn-box .wrapper i:nth-child(30n+10):hover ~ .fancy-btn {
  --x: 33.3333333333%;
}
.fancy-btn-box .wrapper i:nth-child(30n+11):hover ~ .fancy-btn {
  --x: 36.6666666667%;
}
.fancy-btn-box .wrapper i:nth-child(30n+12):hover ~ .fancy-btn {
  --x: 40%;
}
.fancy-btn-box .wrapper i:nth-child(30n+13):hover ~ .fancy-btn {
  --x: 43.3333333333%;
}
.fancy-btn-box .wrapper i:nth-child(30n+14):hover ~ .fancy-btn {
  --x: 46.6666666667%;
}
.fancy-btn-box .wrapper i:nth-child(30n+15):hover ~ .fancy-btn {
  --x: 50%;
}
.fancy-btn-box .wrapper i:nth-child(30n+16):hover ~ .fancy-btn {
  --x: 53.3333333333%;
}
.fancy-btn-box .wrapper i:nth-child(30n+17):hover ~ .fancy-btn {
  --x: 56.6666666667%;
}
.fancy-btn-box .wrapper i:nth-child(30n+18):hover ~ .fancy-btn {
  --x: 60%;
}
.fancy-btn-box .wrapper i:nth-child(30n+19):hover ~ .fancy-btn {
  --x: 63.3333333333%;
}
.fancy-btn-box .wrapper i:nth-child(30n+20):hover ~ .fancy-btn {
  --x: 66.6666666667%;
}
.fancy-btn-box .wrapper i:nth-child(30n+21):hover ~ .fancy-btn {
  --x: 70%;
}
.fancy-btn-box .wrapper i:nth-child(30n+22):hover ~ .fancy-btn {
  --x: 73.3333333333%;
}
.fancy-btn-box .wrapper i:nth-child(30n+23):hover ~ .fancy-btn {
  --x: 76.6666666667%;
}
.fancy-btn-box .wrapper i:nth-child(30n+24):hover ~ .fancy-btn {
  --x: 80%;
}
.fancy-btn-box .wrapper i:nth-child(30n+25):hover ~ .fancy-btn {
  --x: 83.3333333333%;
}
.fancy-btn-box .wrapper i:nth-child(30n+26):hover ~ .fancy-btn {
  --x: 86.6666666667%;
}
.fancy-btn-box .wrapper i:nth-child(30n+27):hover ~ .fancy-btn {
  --x: 90%;
}
.fancy-btn-box .wrapper i:nth-child(30n+28):hover ~ .fancy-btn {
  --x: 93.3333333333%;
}
.fancy-btn-box .wrapper i:nth-child(30n+29):hover ~ .fancy-btn {
  --x: 96.6666666667%;
}
.fancy-btn-box .wrapper i:nth-child(30n+30):hover ~ .fancy-btn {
  --x: 100%;
}
.fancy-btn-box .wrapper .fancy-btn {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  display: grid;
  place-content: center;
  grid-column: 1/span 30;
  grid-row: 1/span 10;
  text-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  pointer-events: none;
  transition: opacity 0.25s ease-in-out;
}
.fancy-btn-box .wrapper i:hover ~ .fancy-btn {
  background: radial-gradient(circle 110px at var(--x) var(--y), rgba(64, 67, 242, 0.4), rgba(169, 242, 136, 0));
}

.box .card.old {
  position: relative;
  width: 300px;
  min-height: 400px;
  padding: 20px;
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  transition: all 0.5s ease-in-out;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  background: #fff;
}

.card.old:hover {
  transform: scale(1.05);
}

.old.card__img img {
  height: 150px;
}

.old.card__title {
  font-size: 1.5em;
  font-weight: 700;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #EB5E28;
}

.old.card__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 10px;
}

.politics-card .card__img {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  width: 100%;
  height: 100%;
  border-radius: inherit;
}

.politics-card .card__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: inherit;
}

.politics-card .card__content {
  width: 100%;
  height: 100%;
  scale: 0;
  transition: all 0.3s ease-in-out;
}

.politics-card:nth-child(-n+2) .card__text {
  color: #fff;
}

.politics-card::before {
  content: "";
  position: absolute;
  top: 50%;
  width: 100%;
  height: 0;
  z-index: 1;
  border-radius: inherit;
  transition: all 0.5s ease-in-out;
}

.politics-card:nth-child(1)::before {
  /* Semi-transparent linear gradient */
  background: linear-gradient(0deg, rgba(228, 9, 9, 0.5), rgba(16, 16, 193, 0.5), rgba(255, 255, 255, 0.5));
}

.politics-card:nth-child(2)::before {
  /* Semi-transparent linear gradient */
  background: linear-gradient(0deg, rgba(51, 172, 18, 0.5), rgba(183, 17, 17, 0.5));
}

.politics-card:nth-child(3)::before {
  /* Semi-transparent linear gradient */
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.5), rgba(255, 242, 0, 0.5), rgba(0, 0, 0, 0.5));
}

.politics-card.blur {
  filter: blur(20px);
  transform: scale(0.9);
  opacity: 0.5;
}

.politics-card:hover::before {
  top: 0;
  height: 100%;
}

.politics-card:hover .card__content {
  scale: 1;
  z-index: 1;
}

.box-item {
  width: 300px;
  min-height: 400px;
  padding: 20px;
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  transition: 0.5s ease-in-out;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  background: #fff;
  color: #fff;
}

.shop-box .product {
  position: relative;
  gap: 10px;
  background: linear-gradient(#fff, midnightblue);
}

.product.active {
  background: linear-gradient(#000 0 0) bottom/100% 140px no-repeat fixed, linear-gradient(#fff, midnightblue);
}

.product:hover {
  transform: scale(1.05);
}

.product .image-box {
  width: 200px;
  height: 100px;
  margin-bottom: 20px;
  transition: all 0.5s ease-in-out;
}

.product:nth-child(2) .image-box {
  height: 200px;
  margin-bottom: 0;
}

.product .image-box img {
  transition: all 0.5s ease-in-out;
}

.product .colorPicker {
  position: relative;
  top: 0;
  left: -100vmax;
  scale: 0;
  transition: all 0.5s ease-in-out;
}

.product.active .image-box {
  transform: translateY(60px);
}

.product.active .image-box img {
  transform: rotate(-15deg) scale(1.2);
}

.product .text-box {
  scale: 1;
  transition: all 0.3s ease-in-out;
}

.product.active .text-box {
  scale: 0;
}

.product.active .colorPicker {
  left: 0;
  scale: 1;
}

input[type=radio] {
  display: none;
}
input[type=radio]:checked + label span {
  transform: scale(1.25);
}
input[type=radio]:checked + label .picker-red {
  border: 2px solid #711313;
}
input[type=radio]:checked + label .picker-blue {
  border: 2px solid #103f62;
}
input[type=radio]:checked + label .picker-green {
  border: 2px solid #0e4e1d;
}

label {
  display: inline-block;
  width: 25px;
  height: 25px;
  margin-right: 10px;
  cursor: pointer;
}
label:hover span {
  transform: scale(1.25);
}
label span {
  display: block;
  width: 100%;
  height: 100%;
  transition: transform 0.2s ease-in-out;
}
label span.picker-red {
  background: #DB2828;
}
label span.picker-blue {
  background: #2185D0;
}
label span.picker-green {
  background: #21BA45;
}

.articles-box .article-wrapper {
  position: relative;
  border-radius: 15px;
  overflow: hidden;
  background: #403D39;
}
.articles-box .article-wrapper::before {
  content: "";
  position: absolute;
  top: -50%;
  left: -50%;
  width: 100%;
  height: 100%;
  background: linear-gradient(0deg, transparent, #EB5E28, #EB5E28, #EB5E28, transparent);
  transform-origin: bottom right;
  -webkit-animation: rotate 6s linear infinite;
          animation: rotate 6s linear infinite;
}
.articles-box .article-wrapper::after {
  content: "";
  position: absolute;
  top: -50%;
  left: -50%;
  width: 100%;
  height: 100%;
  background: linear-gradient(0deg, transparent, #EB5E28, #EB5E28, #EB5E28, transparent);
  transform-origin: bottom right;
  -webkit-animation: rotate 6s linear infinite;
          animation: rotate 6s linear infinite;
  -webkit-animation-delay: -3s;
          animation-delay: -3s;
}
.articles-box .article-wrapper .article {
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 5px;
  background: linear-gradient(to right, #F4A261 50%, #2A9D8F 50%);
  transition: transform 0.5s ease-in-out;
  z-index: 10;
}
.articles-box .article-wrapper .article h1 {
  font-size: 5em;
  font-weight: 800;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  /* semi-transparent color */
  color: rgba(82, 82, 82, 0.2);
}
.articles-box .article-wrapper .article:hover {
  transform: scale(1.05);
}

@-webkit-keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.scientist-card {
  position: relative;
  width: 350px;
  height: 190px;
  border-radius: 20px;
  background: #fff;
  box-shadow: 0 35px 80px rgba(0, 0, 0, 0.15);
  transition: all 0.5s ease-in-out;
}
.scientist-card .image-box {
  position: absolute;
  left: 50%;
  top: -50px;
  width: 150px;
  height: 150px;
  border-radius: 20px;
  background: #fff;
  box-shadow: 0 15px 50px rgba(0, 0, 0, 0.35);
  overflow: hidden;
  transform: translateX(-50%);
  transition: all 0.5s ease-in-out;
}
.scientist-card .image-box img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.scientist-card .text-box {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  overflow: hidden;
}
.scientist-card .text-box .details {
  width: 100%;
  padding: 40px;
  text-align: center;
  transform: translateY(160px);
  transition: all 0.5s ease-in-out;
}
.scientist-card .text-box .details h2 {
  font-size: 1.25em;
  font-weight: 600;
}
.scientist-card .text-box .details h2 span {
  font-size: 0.75em;
  font-weight: 500;
  opacity: 0.5;
}
.scientist-card .text-box .details .data {
  margin: 20px 0;
  display: flex;
  justify-content: space-between;
}
.scientist-card .text-box .details .data h3 {
  font-size: 1em;
  font-weight: 600;
}
.scientist-card .text-box .details .data h3 span {
  font-size: 0.85em;
  font-weight: 400;
  opacity: 0.5;
}
.scientist-card .text-box .details .action-box {
  display: flex;
  justify-content: space-between;
}
.scientist-card .text-box .details .action-box button {
  padding: 10px 30px;
}
.scientist-card .text-box .details .action-box button:nth-child(2) {
  border: 1px solid #403D39;
  background: #fff;
  color: #403D39;
}
.scientist-card .text-box .details .action-box button:nth-child(2):hover {
  box-shadow: 0 0 10px 0 #403D39;
}
.scientist-card:hover {
  height: 450px;
}
.scientist-card:hover .image-box {
  width: 250px;
  height: 250px;
}
.scientist-card:hover .text-box .details {
  transform: translateY(0px);
}

/* *Responsive part */
@media screen and (max-width: 850px) {
  header .nav-group .nav-item.nav-list {
    position: absolute;
    opacity: 0;
  }
  header .nav-group .nav-item.search .search-btn {
    left: 0;
  }
  header .nav-group .menu-toggle {
    position: absolute;
    display: block;
    font-size: 1.75em;
    cursor: pointer;
    transform: translateX(30px);
    z-index: 1;
  }
  header .nav-group .menu-toggle.hidden {
    display: none;
  }
  header.opened .nav-group .nav-item.nav-list {
    top: 80px;
    left: 0;
    z-index: 1;
    transition: 0.5s ease-in-out;
    opacity: 1;
    visibility: visible;
    min-width: 30%;
    height: calc(100vh - 80px);
    padding: 40px;
    display: flex;
    flex-direction: column;
    background: #FFFCF2;
    border-top: 1px solid rgba(0, 0, 0, 0.05);
  }
  header.opened .nav-group .nav-item.nav-list .nav-link {
    font-size: 1.25em;
  }
}