body {
    color: $black;
    background: $light-gray;
}

main {
    position: absolute;
    top: 80px;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;

    & section {
        min-height: 100vh;
    }

    & .box {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }
}