header {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 80px;

    padding: 20px 40px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    z-index: 10;

    background: $pastel-white;
    box-shadow: 0 15px 15px rgba(0, 0, 0, 0.05);

    & .logo {
        text-decoration: none;

        font-size: 1.5em;
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: 0.1em;
        
        color: $gray;
    }

    & .nav-group {
        display: flex;
        align-items: center;

        & .nav-item {
            position: relative;

            &.nav-list {
                display: flex;
                gap: 30px;

                & .nav-link {
                    position: relative;

                    text-decoration: none;
                    text-transform: uppercase;
                    font-size: 1em;
                    letter-spacing: 0.2em;

                    color: $gray;
                }

                & .nav-link::before {
                    content: '';

                    position: absolute;
                    bottom: -2px;

                    width: 100%;
                    height: 2px;

                    background: $gray;

                    transform: scaleX(0);
                    transition: transform 0.5s ease-in-out;
                    transform-origin: right;
                }

                & .nav-link:hover::before {
                    transform: scaleX(1);
                    transform-origin: left;
                }
            }

            &.search {
                display: flex;
                justify-content: center;
                align-items: center;

                z-index: 1;
                cursor: pointer;
                font-size: 1.5em;

                & .btn {
                    position: relative;
                    top: 2.5px;
                }

                & .search-btn {
                    left: 30px;
                
                    z-index: 1;
                    transition: 0.3s ease-in-out;

                    &.active {
                        left: 0;
                    }
                }
                
                & .close-btn {
                    opacity: 0;
                    visibility: hidden;
                
                    scale: 0;
                    transition: 0.5s;

                    &.active {
                        opacity: 1;
                        visibility: visible;

                        scale: 1;
                        transition: 0.5s;
                    }
                }
            }

        }

        & .menu-toggle {
            position: relative;
        
            margin-bottom: 2.5px;
        
            display: none;
        
            z-index: 0;

            &.hidden {
                display: none;
            }
        }
    }

    & .search-box {
        position: absolute;
        right: -100%;
    
        width: 100%;
        height: 100%;
    
        padding: 0 30px;
    
        display: flex;
        align-items: center;
        
        background: $pastel-white;
    
        transition: 0.5s ease-in-out;

        &.active {
            right: 0;
        }

        & input {
            width: 100%;
            height: 50px;

            border: none;
            outline: none;

            font-size: 1.25em;

            color: $gray;

            background: $pastel-white;
            border-bottom: 1px solid rgba(0, 0, 0, 0.5);
        }
    }
}