.btn-system {
    width: fit-content;
  
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
  
    padding: 5px 10px;
  
    cursor: pointer;
  
    border-radius: 5px;
    border: none;
    color: $white;
    background: $orange;

    transition: all 0.3s ease-in-out;

    &:hover {
        transform: scale(1.1);

        /* Add shadow */
        box-shadow: 0 0 10px 0 $orange;

        /* Change color and background color */
        color: $orange;
        background: $white;
    }

    &:active {
        box-shadow: none;
        
        transform: scale(0.9);
        transition: 0.1s ease-in-out;
    }
}